/**
 * Aluetietopalvelu Lounaispaikka styles
 * Ennakointiverkoston e-alusta specific styles
 * @author Ville Glad <ville at lounaispaikka . fi>
 */
/*@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,700);*/
/*
/*
Värit
   
        VIHREÄ: #8fbb42
        Vaalea ORANSSI: #eed333
        Tumma ORANSSI: #efaf0d
        Tumma HARMAA: #818286
        Vaalea HARMAA: #e7e7e8
        linkki SININEN: #0374B4
		
		Lounaispaikka:
		Yläpalkki: rgb(25, 65, 120)
		Nappulat: rgb(133, 180, 213)
		
		E-verkosto:
		Oranssi-vaalea: #f0a500 rgb(240, 165, 0)
		-tumma: #f08500 rgb(240, 133, 0)
		Harmaa-vaalea: #6f6e6d rgb(111, 110, 109)
		-tumma: #5e5d5b rgb(94, 93, 91)
*/
body, .x-body {
    /* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top left, #FFFFFF 0%, #E7E7E8 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #E7E7E8 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top left, #FFFFFF 0%, #E7E7E8 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(1, #E7E7E8));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #E7E7E8 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom right, #FFFFFF 0%, #E7E7E8 100%);
}

#site #middle #rightCol #rightColGrey {
	
/*	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;*/
	padding: 0 5px 5px 5px;
    background-color: #e7e7e8;

}
#front-content {
	clear: both;
    width: 100%;
	padding: 0px 60px 0px 60px;
	
}
#topNav {
    background-color: #fff;	
}
#topNav ul li a {
	background-color: rgb(255, 255, 255);
	background-image:linear-gradient(-90deg, rgb(129,130,134), rgb(94, 93, 91));
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgb(129,130,134)), to(rgb(94, 93, 91)));
	background-image:-moz-linear-gradient(-90deg, rgb(129,130,134), rgb(94, 93, 91));
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#6f6e6d', endColorstr='#5e5d5b'); /* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#6f6e6d', endColorstr='#5e5d5b')"; /* IE8 */
}
#topNav ul li a.active {
	/*sivustokohtainen*/
background-color: rgb(255, 255, 255);
	background-image:linear-gradient(-90deg, rgb(239, 175, 13), rgb(255, 134, 0));
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgb(239, 175, 13)), to(rgb(255, 134, 0)));
	background-image:-moz-linear-gradient(-90deg, rgb(239, 175, 13), rgb(255, 134, 0));
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#efaf0d', endColorstr='#ff8600'); /* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#efaf0d', endColorstr='#ff8600')"; /* IE8 */
}
#topNav ul li a:hover {
	/*sivustokohtainen*/
    background-color: rgb(255, 255, 255);
	background-image:linear-gradient(-90deg, rgb(120, 120, 120), rgb(94, 93, 91));
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgb(120, 120, 120)), to(rgb(94, 93, 91)));
	background-image:-moz-linear-gradient(-90deg, rgb(120, 120, 120), rgb(94, 93, 91));
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#6f6e6d', endColorstr='#5e5d5b'); /* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#6f6e6d', endColorstr='#5e5d5b')"; /* IE8 */
}
.ext_window {
	text-align:left !important;
}
.ext_clearBtns {
	display: block;
	width: 300px;
	height: 70px;
	margin: 50px;
}
.x-btn-default-large .x-btn-inner {
    font-size: 14px;
}*/

/*Teema-sivun layout */
div#teema_container {
	display:block;
	width:550px;
	height:300px;
}
div.clear {
	display:block;
	clear:both;
}

div#teema_paivitykset {
	clear:both;
	width:500px;
}
div#teema_keskustelut {
	clear:both;
	width:500px;
}
div#teema_linkit {
	clear:both;
	width:500px;
}
div#teema_uutiset {
	clear:both;
	width:500px;
}
#teema_container ul li {
	list-style: none outside none;
	padding: 0;
	margin: 5px 0 5px -15px;
	font-size: 11px;
}
#teema_container ul li {
	list-style:none;
	padding-left: 0px;
	margin: 5px 0 5px 5px;
	font-size: 11px;
}


/*Aineiston lisäys */

div#addPageFormDialog, 
div#editPageInfoDialog, 
div#editPageContentDialog, 
#addToimiala,
#addTeema,
#editToimiala, 
#editTeema,
#upfile,
#chartform,
.lomake {
	text-align:left !important;
}

div#addContentDialog button {
	display:block;
	clear:both;
	padding: 5px;
}

div#addPageFormDialog form label ,
div#editPageFormDialog form label,
#editToimiala form label,
#newcommentform form label,
.lomake,
.replybox form label {
	display:block;
}

div#addPageFormDialog  form input,
div#editPageFormDialog form input,
#editToimiala form input,
#newcommentform form input,
.lomake,
.replybox form input {
	display:block;
}
div#addPageFormDialog form input.text,
div#editPageFormDialog form input.text,
#editToimiala form input.text,
#newcommentform form input.text,
.lomake form input.text,
.replybox form input.text {
	margin-bottom:12px; 
	width:95%;
	padding: .4em;
}

div#addPageFormDialog form fieldset,
div#editPageFormDialog form fieldset,
#editToimiala form fieldset,
#newcommentform form fieldset,
.lomake form fieldset,
.replybox form fieldset{ 
	padding:0; 
	border:0; 
	margin-top:25px; 
}


#cmsForm_info input[type="text"], 
#cmsForm_content input[type="text"], 
#cmsForm input[type="text"], 
#cmsForm textarea, 
#addToimiala input[type="text"], 
#addTeema input[type="text"], 
#addToimiala textarea, 
#addTeema textarea,
#editToimiala input[type="text"], 
#editTeema input[type="text"], 
#editToimiala textarea, 
#editTeema textarea,
#upfile input[type="text"], 
#upfile input[type="file"], 
#upfile textarea, 
#chartform input[type="text"], 
#chartform input[type="file"], 
#chartform textarea,
.lomake textarea,
.lomake input[type="text"], 
.lomake input[type="file"], 
.comment_form_fields  input[type="text"],
.comment_form_fields textarea
 {
	margin-bottom:12px; 
	width:95%;
	padding: .4em;
}
.comment_form_fields textarea
{
	height: 150px;
}

#cmsForm_content #cms_content {
	height: 400px;
	width: 95%;
	padding: .4em;
	margin-bottom:12px; 
}
#cmsInfo {
	padding-bottom: 50px;
}
.hide {
	display:none;
}
.show {
	display:block;
}
.next-btn {
	margin: 15px 0 10px 0;
	clear: right;
	float:right;
}
.cancel-btn {
	margin: 15px 0 10px 0;
	clear: left;
	float: left;
}

.send_comment_btn {
	margin: 15px 0 10px 0;
}

#formResponse {
	display: none;
	width: 80%;
	height: 100px;
	background-color: #818286;
	color: #fff;
	font-weight: bold;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align: center;
	position:absolute;
	left:0px;
	top:0px;
	
}
#formResponse p {
	padding-top: 30px;
}

.linkJs {
	cursor: pointer;
	margin-left:15px;
	clear:both;
}

.comment_add_link {
	cursor: pointer;
	margin-left:15px;
	color: #0374B4;
	clear:both;
}

.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }

div#comments {
	margin-top: 2px;
}
div#comments #newthread {
	float:left;
	cursor: pointer;
	margin: 15px 0 10px 15px;
}

div#comments .msgform  {
	border: 1px solid #f08500;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0 10px 10px 10px;
	margin: 10px 10px 50px 10px;
}

div#comments #closenewmsg {
	float: right;
	margin: 10px 5px 0 0;
	cursor: pointer;
}
div#comments #newcomment {
	/*opacity: 1; /*extjs => opacity = 0;*/
	width: 480px;
	display: none;
	margin: 10px 10px 10px 15px;
}
div#comments ul#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#messages li {
	margin: 0;
	padding-right: 0;
	padding-bottom: 10px;
	width: 100%;
	list-style: none;
	border-top: 1px solid #ccc;
}
#messages li li {
	list-style: none;
}
#mesages h2 {
	padding: 0;
}
ul#messages li:first-child {
	border-top: 0;
}
ul#messages span.author {
	color: #888;
	font-size: 70%;
	padding-left:15px;
}
ul#messages a.replythread {
	float: right;
	cursor: pointer;
}
ul#messages a.quotemsg {
	float: right;
	cursor: pointer;
	margin-right: 10px;
}
ul#messages img.closereplybox {
	float: right;
	margin: 10px 5px 0 0;
	cursor: pointer;
}
ul#messages div.replybox {
	margin: 10px 10px 10px 50px;
	/*padding-left: 20px;*/
	/*border-left: 1px solid #ccc;*/
	border: 1px solid #f08500;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0 10px 10px 20px;
	width: 480px;
	display: none;
}
ul#messages ul {
	padding-right: 0;
	margin: 10px 0 0 50px;
	border-top: 1px solid #ccc;
}
ul#messages div.likebox {
	float: right;
	margin: 0 5px 5px 0;
	padding: 3px 0 5px 0;
}
ul#messages div.likebox a {
	cursor: pointer;
	padding: 5px 10px 5px 5px;
}
ul#messages div.likebox a:hover {
}
ul#messages div.likebox a img {
	margin: 0 5px -3px 0;
}
ul#messages div.likebox a.likethumb {
	/* margin-right: 15px; */
	color: #51a83c;
}
ul#messages div.likebox a.likethumb:hover {
	background: #c9ffcc;
}
ul#messages div.likebox a.dislikethumb {
	color: red;
}
ul#messages div.likebox a.dislikethumb:hover {
	background: #ffcaca;
}
ul#messages div.likebox.clicked {
	background: #ebebeb;
}
ul#messages div.likebox.clicked a {
	cursor: default;
}
ul#messages div.likebox.clicked a.likethumb:hover {
	background: #ebebeb;
}
ul#messages div.likebox.clicked a.dislikethumb:hover {
	background: #ebebeb;
}

#toimiala_kayttajat #list_container {
	min-height: 200px;
	clear:both;
}

#teemaDialog {
	display: none;
}


/*loading spinner*/
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
	position:   fixed;
	z-index:    1000;
	top:        0;
	left:       0;
	height:     100%;
	width:      100%;
	background: /*rgba( 255, 255, 255, .8 )*/ 
				url('/img/loading_spinner_oranssi.gif') 
				50% 50% 
				no-repeat;
	/*opacity: 1.00;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 80);
	filter: alpha(opacity = 80)};*/
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
table#messages {
	width: 100%;
}
table#messages h1.msg_topic {
	font-size: 12px;
}
table#messages .message_msg{
	width: 80%;
}
table#messages .message_info{
	width: 20%;
}
table#messages td {
	border: 1px solid #fff;
}

/* This is the style for our default (even) row */
table#messages tr {
    background-color: #fafafa;
}
 
/* This is the style for our striped (odd) row */
table#messages tr:nth-child(odd) {
    background-color: #f1f1f1;
}
table#messages tr:nth-child(odd) td {
    border: 1px solid #fff;
}

.teema_btn { display:block; clear:both; margin: 5px 5px 5px 0; width: 190px; text-align:left;}

table#comment_topics {
	width: 100%;
}
table#comment_topics td {
	border: 1px solid #fff;
}

table#comment_topics tbody#topics_body tr {
	height: 30px;
}

table#comment_topics td.topic_topic {
	width: 70%;
}

table#comment_topics td.topic_details {
	width: 8%;
}

table#comment_topics td.topic_last {
	width: 22%;
}

table#comment_topics tr.topic_row {
	background-color: #fafafa;
}

table#comment_topics tbody#topics_body tr:hover {
	cursor: pointer;
	text-decoration: underline;
}

table#comment_topics tr:nth-child(odd).topic_row {
    background-color: #f1f1f1;
}

#addFileDialog {
	display: none; 
}

#addChartDialog {
	display: none; 
}


#addFileDialog .percent {
	clear:both;
	text-align: left;
}
.file_list{
	list-style: none outside none !important;
	padding-left: 0px;
	margin: 5px 0 5px 0px;
}

/*Toimiala templaten css*/
.list-h3 { padding: 10px 0 10px 5px; margin: 0; font-size: 14px; font-weight: 700; }
.list-with-heading { display:block; float:left; margin: 0 15px 0 15px;}
#sortable1, #sortable2 { list-style-type: none; margin: 0; padding: 0 ; float: left; margin-right: 2px; border: 1px solid; min-width: 350px; min-height: 29px; background-color: #fff;}
#sortable1 li, #sortable2 li { margin: 0 2px 0 2px; padding: 2px 2px 2px 2px; font-size: 1.2em; width: 100%; min-height: 24px; }
#sortable1 li:hover, #sortable2 li:hover {cursor: pointer; border: 2px solid;}
.userlist_name { font-size: 14px; color: #000; margin: 0 3px 0 3px}
.userlist_org {font-size: 12px; color: #000;margin: 0 3px 0 3px}
.userlist_email {font-size: 12px; color: blue; margin: 0 3px 0 3px}
#cms_content {height: 300px; min-width: 350px;}
#editToimiala { display:none;}
#editTeema { display:none;}
#feedback { font-size: 1.4em; }
#valittavat { float:left; width: 50%; text-align: left;}
#ohjeet {float: left; width: 50%; text-align: left;}
#editToimiala.ui-tabs, #editToimiala.ui-dialog-content, #editToimiala.ui-dialog { padding: 0; }
#editTeema.ui-tabs, #editTeema.ui-dialog-content, #editTeema.ui-dialog { padding: 0; }
#dialog-message { display: none;}

#delete-btn {
	color: #ff0000;
}

/* dialog buttons */
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { width: 100%;}
.ui-dialog-buttonset .ui-button:last-child {float:right !important;}
.ui-dialog-buttonset .ui-button:first-child {float:left !important;}

